Repository contentful/rich-text, pull requests merged in 2021-09, with the labels that each got.

#265 fix: replace import to fix typings for html-renderer
  packages/rich-text-html-renderer/src/__test__/index.test.ts
Labels: package:rich-text-html-renderer

#266 fix(rich-text-types): forbid Tables inside ListItem
  packages/contentful-slatejs-adapter/package-lock.json
  packages/rich-text-types/src/nodeTypes.ts
  packages/rich-text-types/src/schemaConstraints.ts
  packages/rich-text-types/src/schemas/__test__/__snapshots__/schemas.test.ts.snap
  packages/rich-text-types/src/schemas/generated/list-item.json
  packages/rich-text-types/src/schemas/generated/ordered-list.json
  packages/rich-text-types/src/schemas/generated/unordered-list.json
  packages/rich-text-types/src/types.ts
Labels: package:contentful-slatejs-adapter, package:rich-text-types

#267 fix: allow table-row type to have both cells
  packages/rich-text-types/src/nodeTypes.ts
  packages/rich-text-types/src/schemaConstraints.ts
  packages/rich-text-types/src/schemas/__test__/__snapshots__/schemas.test.ts.snap
  packages/rich-text-types/src/schemas/generated/table-cell.json
  packages/rich-text-types/src/schemas/generated/table-row.json
  packages/rich-text-types/src/schemas/generated/table.json
Labels: package:rich-text-types

#269 feat(html+react): render Table header as <th>
  packages/rich-text-html-renderer/src/__test__/documents/index.ts
  packages/rich-text-html-renderer/src/__test__/documents/table-header.ts
  packages/rich-text-html-renderer/src/__test__/index.test.ts
  packages/rich-text-html-renderer/src/index.ts
  packages/rich-text-react-renderer/src/__test__/__snapshots__/index.test.tsx.snap
  packages/rich-text-react-renderer/src/__test__/documents/index.ts
  packages/rich-text-react-renderer/src/__test__/documents/table-header.ts
  packages/rich-text-react-renderer/src/__test__/index.test.tsx
  packages/rich-text-react-renderer/src/index.tsx
Labels: package:rich-text-html-renderer, package:rich-text-react-renderer
