Repository contentful/rich-text, pull requests merged in 2021-11, with the labels that each got.

#284 feat: add support to convert tables from md to rich text
  packages/rich-text-from-markdown/README.md
  packages/rich-text-from-markdown/src/__test__/real-world.md
  packages/rich-text-from-markdown/src/__test__/real-world.test.ts
  packages/rich-text-from-markdown/src/index.ts
Labels: package:rich-text-from-markdown

#286 feat(rich-text-types): Add TEXT_CONTAINERS
  packages/rich-text-types/src/__test__/schemaConstraints.test.ts
  packages/rich-text-types/src/schemaConstraints.ts
Labels: package:rich-text-types

#288 chore: remove ambiguious .node-version file
  .node-version
  package-lock.json
  packages/contentful-slatejs-adapter/package-lock.json
  packages/rich-text-html-renderer/package-lock.json
Labels: package:contentful-slatejs-adapter, package:rich-text-html-renderer

#287 feat: add toContentfulDocument() and toSlatejsDocument() empty block node handling
  package-lock.json
  packages/contentful-slatejs-adapter/package-lock.json
  packages/contentful-slatejs-adapter/package.json
  packages/contentful-slatejs-adapter/src/__test__/contentful-helpers.ts
  packages/contentful-slatejs-adapter/src/__test__/contentful-to-slatejs-adapter.test.ts
  packages/contentful-slatejs-adapter/src/contentful-to-slatejs-adapter.ts
  packages/contentful-slatejs-adapter/src/schema.ts
  packages/contentful-slatejs-adapter/src/slatejs-to-contentful-adapter.ts
  packages/rich-text-html-renderer/package-lock.json
Labels: package:contentful-slatejs-adapter, package:rich-text-html-renderer

#289 test: add inline embeds in table to links test
  package-lock.json
  packages/contentful-slatejs-adapter/package-lock.json
  packages/rich-text-html-renderer/package-lock.json
  packages/rich-text-links/src/__test__/index.test.ts
Labels: package:contentful-slatejs-adapter, package:rich-text-html-renderer, package:rich-text-links
