Repository contentful/rich-text, pull requests merged in 2021-12, with the labels that each got.

#292 feat(rich-text-types): expose RT validation helper
  package-lock.json
  packages/rich-text-types/package.json
  packages/rich-text-types/src/__test__/schemaConstraints.test.ts
  packages/rich-text-types/src/__test__/validation.test.ts
  packages/rich-text-types/src/blocks.ts
  packages/rich-text-types/src/emptyDocument.ts
  packages/rich-text-types/src/helpers.ts
  packages/rich-text-types/src/index.ts
  packages/rich-text-types/src/inlines.ts
  packages/rich-text-types/src/nodeTypes.ts
  packages/rich-text-types/src/schemaConstraints.ts
  packages/rich-text-types/src/schemas/__test__/schemas.test.ts
  packages/rich-text-types/src/types.ts
  packages/rich-text-types/src/validation.ts
Labels: package:rich-text-types

#294 fix(rich-text-types): resolve generated JSON schemas
  package-lock.json
  packages/contentful-slatejs-adapter/package-lock.json
  packages/rich-text-html-renderer/package-lock.json
  packages/rich-text-types/package.json
  packages/rich-text-types/rollup.config.js
  packages/rich-text-types/src/helpers.ts
  packages/rich-text-types/src/index.ts
  packages/rich-text-types/src/schemas/__test__/helpers.test.ts
  packages/rich-text-types/tsconfig.json
Labels: package:contentful-slatejs-adapter, package:rich-text-html-renderer, package:rich-text-types

#298 fix: remove support to convert tables from md to rich text
  packages/rich-text-from-markdown/README.md
  packages/rich-text-from-markdown/src/__test__/real-world.md
  packages/rich-text-from-markdown/src/__test__/real-world.test.ts
  packages/rich-text-from-markdown/src/index.ts
Labels: package:rich-text-from-markdown

#300 fix(react-renderer): wrap table rows in tbody
  packages/rich-text-react-renderer/src/__test__/__snapshots__/index.test.tsx.snap
  packages/rich-text-react-renderer/src/index.tsx
Labels: package:rich-text-react-renderer

#301 feat(rich-text-types): expose HEADINGS array
  packages/rich-text-types/src/schemaConstraints.ts
Labels: package:rich-text-types
