Repository contentful/rich-text, pull requests merged in 2022-09, with the labels that each got.

#359 fix: circleci update resource class
  .circleci/config.yml
Labels: tools

#360 fix: add missing -- to circleci release commands
  .circleci/config.yml
Labels: tools

#361 chore: run npm i and build
  package-lock.json
  packages/contentful-slatejs-adapter/package-lock.json
  packages/rich-text-html-renderer/package-lock.json
  packages/rich-text-types/src/schemas/generated/asset-hyperlink.json
  packages/rich-text-types/src/schemas/generated/blockquote.json
  packages/rich-text-types/src/schemas/generated/document.json
  packages/rich-text-types/src/schemas/generated/embedded-asset-block.json
  packages/rich-text-types/src/schemas/generated/embedded-entry-block.json
  packages/rich-text-types/src/schemas/generated/embedded-entry-inline.json
  packages/rich-text-types/src/schemas/generated/entry-hyperlink.json
  packages/rich-text-types/src/schemas/generated/heading-1.json
  packages/rich-text-types/src/schemas/generated/heading-2.json
  packages/rich-text-types/src/schemas/generated/heading-3.json
  packages/rich-text-types/src/schemas/generated/heading-4.json
  packages/rich-text-types/src/schemas/generated/heading-5.json
  packages/rich-text-types/src/schemas/generated/heading-6.json
  packages/rich-text-types/src/schemas/generated/hr.json
  packages/rich-text-types/src/schemas/generated/hyperlink.json
  packages/rich-text-types/src/schemas/generated/list-item.json
  packages/rich-text-types/src/schemas/generated/ordered-list.json
  packages/rich-text-types/src/schemas/generated/paragraph.json
  packages/rich-text-types/src/schemas/generated/table-cell.json
  packages/rich-text-types/src/schemas/generated/table-header-cell.json
  packages/rich-text-types/src/schemas/generated/table-row.json
  packages/rich-text-types/src/schemas/generated/table.json
  packages/rich-text-types/src/schemas/generated/text.json
  packages/rich-text-types/src/schemas/generated/unordered-list.json
Labels: package:contentful-slatejs-adapter, package:rich-text-html-renderer, package:rich-text-types

#364 fix: adding --no-package-lock
  .circleci/config.yml
Labels: tools

#366 fix: update Lerna, rollup in slatejs-adapter
  package-lock.json
  package.json
  packages/contentful-slatejs-adapter/package-lock.json
  packages/contentful-slatejs-adapter/package.json
  packages/rich-text-html-renderer/package-lock.json
Labels: package:contentful-slatejs-adapter, package:rich-text-html-renderer

#371 build: switch to lerna lite
  .circleci/config.yml
  .husky/pre-commit
  CHANGELOG.md
  lerna.json
  package-lock.json
  package.json
  packages/contentful-slatejs-adapter/CHANGELOG.md
  packages/contentful-slatejs-adapter/package.json
  packages/contentful-slatejs-adapter/src/contentful-to-slatejs-adapter.ts
  packages/contentful-slatejs-adapter/src/slatejs-to-contentful-adapter.ts
  packages/gatsby-transformer-contentful-richtext/README.md
  packages/gatsby-transformer-contentful-richtext/src/__tests__/extend-node.test.js
  packages/gatsby-transformer-contentful-richtext/src/__tests__/gatsby-node.test.js
  packages/gatsby-transformer-contentful-richtext/src/extend-node-type.js
  packages/rich-text-from-markdown/CHANGELOG.md
  packages/rich-text-from-markdown/README.md
  packages/rich-text-from-markdown/src/__test__/index.test.ts
  packages/rich-text-from-markdown/src/index.ts
  packages/rich-text-from-markdown/src/types/modules.ts
  packages/rich-text-html-renderer/CHANGELOG.md
  packages/rich-text-html-renderer/src/__test__/documents/embedded-entry.ts
  packages/rich-text-html-renderer/src/__test__/documents/heading.ts
  packages/rich-text-html-renderer/src/__test__/documents/mark.ts
  packages/rich-text-html-renderer/src/__test__/index.test.ts
  packages/rich-text-html-renderer/src/index.ts
  packages/rich-text-links/CHANGELOG.md
  packages/rich-text-links/src/__test__/index.test.ts
  packages/rich-text-plain-text-renderer/CHANGELOG.md
  packages/rich-text-react-renderer/CHANGELOG.md
  packages/rich-text-react-renderer/README.md
  packages/rich-text-react-renderer/src/__test__/documents/embedded-entry.ts
  packages/rich-text-react-renderer/src/__test__/documents/heading.ts
  packages/rich-text-react-renderer/src/__test__/documents/mark.ts
  packages/rich-text-react-renderer/src/__test__/documents/multi-mark.ts
  packages/rich-text-react-renderer/src/__test__/index.test.tsx
  packages/rich-text-react-renderer/src/index.tsx
  packages/rich-text-react-renderer/src/util/nodeListToReactComponents.tsx
  packages/rich-text-types/CHANGELOG.md
  packages/rich-text-types/src/schemas/__test__/schemas.test.ts
  packages/rich-text-types/tools/jsonSchemaGen.ts
Labels: package:contentful-slatejs-adapter, package:gatsby-transformer-contentful-richtext, package:rich-text-from-markdown, package:rich-text-html-renderer, package:rich-text-links, package:rich-text-plain-text-renderer, package:rich-text-react-renderer, package:rich-text-types, tools

#379 build: add semantic-release-js context to release workflow
  .circleci/config.yml
Labels: tools
