Repository contentful/rich-text, pull requests merged in 2022-11, with the labels that each got.

#393 build: add secrets to CI config
  .circleci/config.yml
Labels: tools

#394 build: fix incorrect schema in circleci config
  .circleci/config.yml
Labels: tools

#391 feat: add super/sub script types
  packages/contentful-slatejs-adapter/src/contentful-to-slatejs-adapter.ts
  packages/contentful-slatejs-adapter/src/slatejs-to-contentful-adapter.ts
  packages/rich-text-html-renderer/README.md
  packages/rich-text-html-renderer/src/__test__/index.test.ts
  packages/rich-text-html-renderer/src/index.ts
  packages/rich-text-react-renderer/src/__test__/__snapshots__/index.test.tsx.snap
  packages/rich-text-react-renderer/src/__test__/index.test.tsx
  packages/rich-text-react-renderer/src/index.tsx
  packages/rich-text-types/src/marks.ts
Labels: package:contentful-slatejs-adapter, package:gatsby-transformer-contentful-richtext, package:rich-text-html-renderer, package:rich-text-react-renderer, package:rich-text-types

#399 build: use correct release secret
  .circleci/config.yml
Labels: tools

#405 build: use Lerna v6 + Nx
  .circleci/config.yml
  .prettierignore
  README.md
  deprecated/gatsby-transformer-contentful-richtext/.gitignore
  deprecated/gatsby-transformer-contentful-richtext/.npmignore
  deprecated/gatsby-transformer-contentful-richtext/README.md
  deprecated/gatsby-transformer-contentful-richtext/extend-node-type.js.map
  deprecated/gatsby-transformer-contentful-richtext/gatsby-node.js.map
  deprecated/gatsby-transformer-contentful-richtext/index.js
  deprecated/gatsby-transformer-contentful-richtext/package-lock.json
  deprecated/gatsby-transformer-contentful-richtext/package.json
  deprecated/gatsby-transformer-contentful-richtext/src/__tests__/__snapshots__/gatsby-node.test.js.snap
  deprecated/gatsby-transformer-contentful-richtext/src/__tests__/extend-node.test.js
  deprecated/gatsby-transformer-contentful-richtext/src/__tests__/gatsby-node.test.js
  deprecated/gatsby-transformer-contentful-richtext/src/extend-node-type.js
  deprecated/gatsby-transformer-contentful-richtext/src/gatsby-node.js
  deprecated/gatsby-transformer-contentful-richtext/src/on-node-create.js
  lerna.json
  nx.json
  package-lock.json
  package.json
  packages/contentful-slatejs-adapter/CHANGELOG.md
  packages/contentful-slatejs-adapter/package.json
  packages/contentful-slatejs-adapter/src/contentful-to-slatejs-adapter.ts
  packages/contentful-slatejs-adapter/src/schema.ts
  packages/contentful-slatejs-adapter/src/slatejs-to-contentful-adapter.ts
  packages/contentful-slatejs-adapter/tslint.json
  packages/gatsby-transformer-contentful-richtext/.babelrc.js
  packages/rich-text-from-markdown/src/__test__/helpers.ts
  packages/rich-text-types/package.json
  packages/rich-text-types/src/schemas/index.ts
  packages/rich-text-types/src/types.ts
  tslint.json
Labels: package:contentful-slatejs-adapter, package:gatsby-transformer-contentful-richtext, package:rich-text-from-markdown, package:rich-text-types, tools

#419 build(ci): use npm v8.x
  .circleci/config.yml
  package-lock.json
  package.json
  patches/@lerna+version+6.0.3.patch
Labels: tools

#420 fix(release): switch to yarn
  .circleci/config.yml
  lerna.json
  package-lock.json
  packages/contentful-slatejs-adapter/package-lock.json
  packages/rich-text-from-markdown/package-lock.json
  packages/rich-text-from-markdown/tsconfig.json
  packages/rich-text-html-renderer/package-lock.json
  packages/rich-text-links/package-lock.json
  packages/rich-text-plain-text-renderer/package-lock.json
  packages/rich-text-react-renderer/package-lock.json
  packages/rich-text-types/package-lock.json
  yarn.lock
Labels: package:contentful-slatejs-adapter, package:rich-text-from-markdown, package:rich-text-html-renderer, package:rich-text-links, package:rich-text-plain-text-renderer, package:rich-text-react-renderer, package:rich-text-types, tools
