Repository contentful/rich-text, pull requests merged in 2024-05, with the labels that each got.

#559 feat: upgrading rollup to latest version [TOL-2097]
  .gitignore
  package.json
  packages/contentful-slatejs-adapter/package.json
  packages/contentful-slatejs-adapter/rollup.config.ts
  packages/rich-text-from-markdown/package.json
  packages/rich-text-html-renderer/package.json
  packages/rich-text-links/package.json
  packages/rich-text-plain-text-renderer/package.json
  packages/rich-text-react-renderer/package.json
  packages/rich-text-react-renderer/src/__test__/__snapshots__/index.test.tsx.snap
  packages/rich-text-types/package.json
  packages/rich-text-types/src/schemas/__test__/__snapshots__/schemas.test.ts.snap
  rollup.config.js
  yarn.lock
Labels: package:contentful-slatejs-adapter, package:rich-text-from-markdown, package:rich-text-html-renderer, package:rich-text-links, package:rich-text-plain-text-renderer, package:rich-text-react-renderer, package:rich-text-types

#562 feat: add strikethrough support [TOL-1658]
  packages/rich-text-html-renderer/README.md
  packages/rich-text-html-renderer/src/__test__/index.test.ts
  packages/rich-text-html-renderer/src/index.ts
  packages/rich-text-react-renderer/src/__test__/__snapshots__/index.test.tsx.snap
  packages/rich-text-react-renderer/src/__test__/index.test.tsx
  packages/rich-text-react-renderer/src/index.tsx
  packages/rich-text-types/src/marks.ts
Labels: package:rich-text-html-renderer, package:rich-text-react-renderer, package:rich-text-types

#573 fix: fix breaking change for copying json
  packages/rich-text-types/rollup.config.js
Labels: package:rich-text-types
