Repository contentful/rich-text, pull requests merged in 2024-07, with the labels that each got.

#618 fix: preserveWhitespace option conflicting with renderText
  packages/rich-text-react-renderer/README.md
  packages/rich-text-react-renderer/src/util/nodeListToReactComponents.tsx
Labels: package:rich-text-react-renderer

#616 feat: support ol & ul list validation in table cell [TOL-2249]
  packages/rich-text-types/src/__test__/schemaConstraints.test.ts
  packages/rich-text-types/src/schemaConstraints.ts
Labels: package:rich-text-types

#619 feat: update schema for rich text types [TOL-2249]
  packages/rich-text-types/src/nodeTypes.ts
  packages/rich-text-types/src/schemas/__test__/__snapshots__/schemas.test.ts.snap
  packages/rich-text-types/src/schemas/generated/table-cell.json
  packages/rich-text-types/src/schemas/generated/table-row.json
  packages/rich-text-types/src/schemas/generated/table.json
Labels: package:rich-text-types

#620 feat: update inline enum order []
  packages/rich-text-types/src/inlines.ts
  packages/rich-text-types/src/schemas/__test__/__snapshots__/schemas.test.ts.snap
  packages/rich-text-types/src/schemas/generated/blockquote.json
  packages/rich-text-types/src/schemas/generated/document.json
  packages/rich-text-types/src/schemas/generated/embedded-asset-block.json
  packages/rich-text-types/src/schemas/generated/embedded-entry-block.json
  packages/rich-text-types/src/schemas/generated/embedded-resource-block.json
  packages/rich-text-types/src/schemas/generated/heading-1.json
  packages/rich-text-types/src/schemas/generated/heading-2.json
  packages/rich-text-types/src/schemas/generated/heading-3.json
  packages/rich-text-types/src/schemas/generated/heading-4.json
  packages/rich-text-types/src/schemas/generated/heading-5.json
  packages/rich-text-types/src/schemas/generated/heading-6.json
  packages/rich-text-types/src/schemas/generated/hr.json
  packages/rich-text-types/src/schemas/generated/list-item.json
  packages/rich-text-types/src/schemas/generated/ordered-list.json
  packages/rich-text-types/src/schemas/generated/paragraph.json
  packages/rich-text-types/src/schemas/generated/table-cell.json
  packages/rich-text-types/src/schemas/generated/table-header-cell.json
  packages/rich-text-types/src/schemas/generated/table-row.json
  packages/rich-text-types/src/schemas/generated/table.json
  packages/rich-text-types/src/schemas/generated/unordered-list.json
Labels: package:rich-text-types

#621 fix: revert schema changes [TOL-2249]
  packages/rich-text-types/src/nodeTypes.ts
  packages/rich-text-types/src/schemas/__test__/__snapshots__/schemas.test.ts.snap
  packages/rich-text-types/src/schemas/generated/table-cell.json
  packages/rich-text-types/src/schemas/generated/table-row.json
  packages/rich-text-types/src/schemas/generated/table.json
Labels: package:rich-text-types

#632 fix: exporting schema function []
  packages/rich-text-types/src/index.ts
Labels: package:rich-text-types

#635 chore: allow auto merge [TOL-2260]
  .github/workflows/auto-approve.yml
Labels: tools
