Repository contentful/rich-text, pull requests merged in 2024-01, with the labels that each got.

#521 fix: [] Bump node version to 18
  .circleci/config.yml
  .nvmrc
  package.json
Labels: tools

#520 fix: [] Wrap inline nodes inside of a table cell in paragraph node
  packages/rich-text-from-markdown/src/__test__/real-world.test.ts
  packages/rich-text-from-markdown/src/index.ts
Labels: package:rich-text-from-markdown

#524 chore: replacing npm with github packages [TOL-1700]
  .circleci/config.yml
  .contentful/vault-secrets.yaml
  .github/dependabot.yml
  packages/contentful-slatejs-adapter/package.json
  packages/rich-text-from-markdown/package.json
  packages/rich-text-html-renderer/package.json
  packages/rich-text-links/package.json
  packages/rich-text-plain-text-renderer/package.json
  packages/rich-text-react-renderer/package.json
  packages/rich-text-types/package.json
Labels: package:contentful-slatejs-adapter, package:rich-text-from-markdown, package:rich-text-html-renderer, package:rich-text-links, package:rich-text-plain-text-renderer, package:rich-text-react-renderer, package:rich-text-types, tools

#526 feat: triggering gh packages release []
  .circleci/config.yml
  package.json
Labels: tools

#527 chore: trigger gh packages release[]
  .circleci/config.yml
Labels: tools

#528 chore: update TS to version 5.3.2 and adjust config []
  package.json
  packages/contentful-slatejs-adapter/package.json
  packages/rich-text-from-markdown/package.json
  packages/rich-text-html-renderer/package.json
  packages/rich-text-links/package.json
  packages/rich-text-plain-text-renderer/package.json
  packages/rich-text-react-renderer/package.json
  packages/rich-text-types/package.json
  rollup.config.js
  yarn.lock
Labels: package:contentful-slatejs-adapter, package:rich-text-from-markdown, package:rich-text-html-renderer, package:rich-text-links, package:rich-text-plain-text-renderer, package:rich-text-react-renderer, package:rich-text-types
